<template>
  <div id="app" class="app">
    <text class="foo" >food</text>
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'app'
};
</script>

<style lang="scss" scoped>
@import "./index.scss";

.foo {
  @include margarine;
}
</style>
